
body{
    background: #000;
}
.logo{
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-right: 50px solid #a90003;
    border-left: 50px solid #a90003;
    
}
.logo::before{
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 250px;
    top: 0;
    left: 0;
    background: #db0001;
    transform: skewX(21.8deg);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
